.navbarContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 0;
    background-color: #94D2BD;
}

.navbarAnchor {
    text-align: center;
    text-decoration: 8px none #0A9396;  
    color: white;
    font-weight: bold;
}

.navbarAnchor:hover {
    transition: 0.4s;
    color: #0A9396;
    text-decoration: 8px underline #0A9396;  
}